<div class="row margin-side-zero">
    <sd-sidebar-events></sd-sidebar-events>
</div>
<div class="row margin-side-zero">
    <div class="col-sm-12 col-md-12 margin-side-zero padding-side-zero">
        <div class="input-group">
            <input type="text" class="form-control search" placeholder="Что вы планируете" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default custom-search" type="submit"><i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row margin-side-zero padding-side-zero">
    <div class="col-md-12 sub-header margin-side-zero margin-top-10 margin-bottom-10 flex flex-wrap-row flex-align-horizontal-stretch">
        <span><strong>Возможные друзья</strong></span>
        <span><a>Все</a></span>
    </div>
</div>
