<div class="container-fluid consumers-panel">
    <div class="row" >
        <div class="span12" *ngIf="!selected">
            <ul class="thumbnails">
                <li class="span5 clearfix" *ngFor="let user of users">
                    <div class="thumbnail clearfix">
                        <img src="http://placehold.it/200x200" alt="{{user.firstName+' '+user.lastName}}" class="pull-left span2 clearfix" style='margin-right:10px'>
                        <div class="caption" class="pull-left">
                            <h4>
                                <a href="#" >{{user.firstName+' '+user.lastName}}</a>
                            </h4>
                            <small><b><i class="fa fa-phone" aria-hidden="true"></i>:</b> {{user.phone}}</small>
                        </div>
                        <div class="pull-right">
                            <a (click)="select(user)" class="btn btn-primary icon pull-right">Редактировать</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="span12" *ngIf="selected">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{selected.firstName+' '+selected.lastName}}</h3>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> {{selected.phone}}</p>
                    <p>{{selected.details}} <span> <a (click)="back()">Назад</a></span></p>
                </div>
            </div>
        </div>
    </div>
</div>