<!-- Page Content -->
<div class="container-fluid dashboard-comp">

    <!-- Page Heading/Breadcrumbs -->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<h1 class="page-header">{{title}}</h1>-->
            <!--<ol class="breadcrumb">-->
                <!--<li><a (click)="goHome()">Домашняя</a></li>-->
                <!--<li class="active">{{title}}<span *ngIf="currentTitle"> -> {{currentTitle}}</span></li>-->
            <!--</ol>-->
        <!--</div>-->
    <!--</div>-->
    <!-- /.row -->
    <sd-breadcrumbs [pageTitle]="title" [pageSubTitle]="currentTitle"></sd-breadcrumbs>

    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<nav class="navbar navbar-inverse dashboard-header">-->
                <!--<div class="container-fluid">-->
                    <!--<div class="navbar-header">-->
                        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                        <!--</button>-->
                        <!--<a class="navbar-brand" (click)="goHome()">Наша школа</a>-->
                    <!--</div>-->
                    <!--<div class="collapse navbar-collapse" id="myNavbar">-->
                        <!--<ul class="nav navbar-nav first-group">-->
                            <!--<li><a><span class="fa fa-users"></span></a></li>-->
                            <!--<li><a><span class="fa fa-thumbs-o-up"></span></a></li>-->
                            <!--<li><a><span class="fa fa-globe"></span></a></li>-->
                        <!--</ul>-->
                        <!--<ul class="nav navbar-nav navbar-right">-->
                            <!--<li><a><span class="glyphicon glyphicon-user"></span> {{currentUser.firstName}} {{currentUser.lastName}}</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</div>-->

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <sd-dashboard-menu [panels]="panels" [user]="currentUser" [currentPanel]="currentPanel" (onSelected)="selectPanel($event)"></sd-dashboard-menu>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">
            <sd-dashboard-profile *ngIf="currentPanel=='profile'" [user]="currentUser"></sd-dashboard-profile>
            <sd-dashboard-schools *ngIf="currentPanel=='schools'" [user]="currentUser"></sd-dashboard-schools>
            <sd-dashboard-system *ngIf="currentPanel=='system'" [user]="currentUser"></sd-dashboard-system>
            <sd-dashboard-consumers *ngIf="currentPanel=='consumers'" [user]="currentUser"></sd-dashboard-consumers>
            <sd-dashboard-plan *ngIf="currentPanel=='plan'" [user]="currentUser"></sd-dashboard-plan>
            <sd-dashboard-schedule *ngIf="currentPanel=='schedule'" [user]="currentUser"></sd-dashboard-schedule>
        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->