<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Моя сеть
            </h1>
            <ol class="breadcrumb">
                <li><a (click)="goHome()">Домашняя</a></li>
                <li class="active">Панель управления</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-inverse network-header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" (click)="goHome()">Наша школа</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav first-group">
                            <li><a><span class="fa fa-users"></span></a></li>
                            <li><a><span class="fa fa-thumbs-o-up"></span></a></li>
                            <li><a><span class="fa fa-globe"></span></a></li>
                        </ul>
                        <div class="col-sm-3 col-md-3">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control search" placeholder="Найти" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default custom-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a><span class="glyphicon glyphicon-user"></span> Профиль</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3 dashboard-left">
            <div class="nav-side-menu">
                <div class="brand">Brand Logo</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <span *ngFor="let elm of panels">
                        <li [attr.data-toggle]="elm.elms? 'collapse' : ''" [attr.data-target]="elm.elms? '#'+elm.id : ''" [attr.class]="elm.elms? 'collapsed ' : ''" [attr.class]="currentPanel==elm.id ? 'active' : ''">
                            <a (click)="currentPanel=='panel' ? null : selectPanel(elm.id)">
                                <i [attr.class]="elm.icon"></i> {{elm.title}} <span *ngIf="elm.elms" class="arrow"></span>
                            </a>
                        </li>
                        <ul *ngIf="elm.elms" class="sub-menu collapse" id="{{elm.id}}">
                            <li *ngFor="let sub of elm.elms" [attr.class]="selectedPanel==sub.id ? 'active' : ''"><a (click)="selectedPanel==sub.id ? null : selectPanel(sub.id)">{{sub.title}}</a></li>
                        </ul>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">
            <sd-dashboard-profile *ngIf="currentPanel=='profile'"></sd-dashboard-profile>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->