<!-- Page Content -->
<div class="container network-comp">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Моя сеть
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Домашняя</a></li>
                <li class="active">Моя сеть</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-inverse network-header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" (click)="goHome()"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav first-group">
                            <li><a><span class="fa fa-users"></span></a></li>
                            <li><a><span class="fa fa-thumbs-o-up"></span></a></li>
                            <li><a><span class="fa fa-globe"></span></a></li>
                        </ul>
                        <div class="col-sm-3 col-md-3 pull-right">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control search" placeholder="Найти" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default custom-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--<ul class="nav navbar-nav navbar-right">-->
                            <!--<li><a><span class="glyphicon glyphicon-user"></span> Профиль</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">

            <div class="row">
                <div class="col-md-5">
                    <img src="http://placehold.it/100">
                </div>
                <div class="col-md-7">
                    <span class="profile-name">{{currentUser.firstName}} {{currentUser.lastName}}</span>
                    <span class="profile-edit"><a>Редактировать</a></span>
                </div>
            </div>

            <div class="row padding-top-20">
                <div class="col-md-12">
                    <div class="list-group">
                        <span *ngFor="let elm of modes">
                            <a class="list-group-item" (click)="selectMode(elm)" [class.active]="elm.mode==currentMode"><i class="fa {{elm.icon}}" aria-hidden="true"></i> {{elm.title}}</a>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <!-- Content Column -->
        <div class="col-md-6">
            <sd-network-news *ngIf="currentMode==modes[0].mode"></sd-network-news>
            <sd-network-events *ngIf="currentMode==modes[1].mode"></sd-network-events>
            <sd-network-feed *ngIf="currentMode==modes[2].mode"></sd-network-feed>
            <sd-network-friends *ngIf="currentMode==modes[3].mode"></sd-network-friends>
        </div>
        <div class="col-md-3">
            <div class="row margin-side-zero">
                <sd-sidebar-events></sd-sidebar-events>
            </div>
            <div class="row margin-side-zero">
                <div class="col-sm-12 col-md-12 margin-side-zero padding-side-zero">
                    <div class="input-group">
                        <input type="text" class="form-control search" placeholder="Что вы планируете" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default custom-search" type="submit"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-side-zero padding-side-zero">
                <div class="col-md-12 sub-header margin-side-zero margin-top-10 margin-bottom-10 flex flex-wrap-row flex-align-horizontal-stretch">
                    <span><strong>Возможные друзья</strong></span>
                    <span><a>Все</a></span>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->