<!-- Page Content -->
<div class="container-fluid dashboard-comp margin-top-30">

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <sd-dashboard-menu [selectedPanel]="selectedPanel"></sd-dashboard-menu>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">

            <div class="container-fluid consumers-panel">
                <div class="row" >
                    <div class="col-md-12">
                        <ul class="thumbnails">
                            <li class="span5 clearfix" *ngFor="let user of users">
                                <div class="thumbnail clearfix">
                                    <!--<img src="http://placehold.it/200x200" alt="{{user.firstName+' '+user.lastName}}" class="pull-left span2 clearfix" style='margin-right:10px'>-->
                                    <div class="caption" class="pull-left">
                                        <h4>
                                            <a>{{user.name}}</a>
                                        </h4>
                                        <!--<small><b><i class="fa fa-phone" aria-hidden="true"></i>:</b> {{user.phone}}</small>-->
                                        <h4>
                                            Роль: <a>{{getRole(user)}}</a>
                                        </h4>
                                    </div>
                                    <div class="pull-right">
                                        <a (click)="select(user)" class="btn btn-primary icon pull-right">Редактировать</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->