:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  color: #ffffff;
}

.navbar {
  &.school-top {
    .nav {
      li {
        margin-top: 0;
      }
    }
  }
}

