<!-- Navigation -->
<nav class="navbar navbar-fixed-top navbar-default school-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" (click)="goHome()"><img src="http://placehold.it/100x30"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li *ngFor='let tab of tabs' [attr.class]="selectedTab == tab.id ? 'active' : ''">
                    <a *ngIf="!tab.hide || tab.hide && isLoggedIn" (click)="goTab(tab)">{{tab.title}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
                <li><a (click)="profile()"><span class="glyphicon glyphicon-user"></span> {{currentUser?.name}}</a></li>
                <li><a (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
                <li><a (click)="onLogin()"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>