body {	
	/*background: url("../images/back.jpg") no-repeat center center fixed;*/
	background: url("../images/desk.jpg") no-repeat center center fixed;
	/*background: url("../images/peaceful-sunset-android-m84-nature.jpg") no-repeat center center fixed;*/
	background-size: cover;
	font-size: 16px;
	font-family: 'Neucha', cursive;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #666;
	overflow: hidden;
}

.show {
	display: block;
}

.hide {
	display: none;
}

/* Typography */
h1#title {
	font-family: 'Neucha', cursive;
	font-weight: 300;
	font-size: 3.8em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 180px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
	white-space: nowrap;
}

h1#title span span {
	font-weight: 400;
}

h2 {
	font-family: 'Neucha', cursive;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 4px;
	font-size: 1.5em;
	line-height: 2.8em;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #aeaeae;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}

p.reg {
	font-size: 1em;
	margin: 0;
	margin-top: 20px;
}

p.reg a {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #3B5998;
	cursor:pointer;
	outline: none;
}
.reg a:hover {
	opacity: 0.7;
	transition: 0.5s;
}

/* Layout */
.container {
	margin: 0;
	opacity: 0.95;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
 /*	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
/*	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
/*	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.login-box {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 15em;
	padding-bottom: 30px;
	border-radius: 4px; /*!!!!!!!!!!*/
	text-align: center;
}

.login-box .box-header {
	background-color: #DB531E;
	margin-top: 0;
	border-radius: 3px 3px 0 0; /* #CC2E2E  #E7295F !!!!!!*/
}

.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.login-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.login-box button {
	font-family: 'Neucha', cursive;
	width: 189px;
	margin-top: 5px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 1px;
	background-color: #29B052;
	cursor:pointer;
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #665851!important;
	transition: 0.5s;
}

#home_log {
	padding: 10px 10px;
	background-color: #D4B749;
	text-decoration: none;
	color: white;
	margin-left: 10px;
	text-transform: uppercase;
	border-radius: 2px;
}

#home_log:hover {
	opacity: 0.7;
	transition: 0.5s;
}
/*registraton block*/

.registration {
	max-width: 30%;
	min-width: 330px;
	top: 100px;
}

.reg-box input {
	width: 17.750em;
	margin: 10 auto;
}

#enter1 {
	width: 215px;
	margin-right: 10px;
}

.gender {
	display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    padding-left: 25px;
    margin-right: 15px;
}
input[type=radio] {
    display: none;
}
.gender:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 5px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radio .gender:before {
	border-radius: 8px;
}

.login-box button#back {
	width: 70px;
	background-color: #3B5998;
}

.g-recaptcha {
	margin: 0 auto;
	width: 300px;
}

input#male[type=radio]:checked + .gender:before {
	background-color: #2339E0;
}
input#female[type=radio]:checked + .gender:before {
	background-color: #E023CA;
}
input#female[type=radio]:checked + .gender {
	color: #E023CA;
	opacity: 0.5;
}
input#male[type=radio]:checked + .gender {
	color: #2339E0;
	opacity: 0.5;
}

#home {
	margin-top: 15px;
	width: 300px;
	background-color: #D4B749;
	display: block;
	margin: 15px auto;
	padding: 10px 0;
	color: white;
	text-transform: uppercase;
}
#home:hover {
	opacity: 0.7;
	transition: 0.5s;
}
/* Animation Delay */
#logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}
/*!!!!!!!!!!!!!!!!!*/
.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.reg-box {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .5s;
}


/*placeholder*/
::-webkit-input-placeholder {
	color: #888;
	font-family: 'Neucha', cursive;
	text-transform: uppercase;
	font-weight: 50;
}
::-moz-placeholder {
	color: #888;
	font-family: 'Neucha', cursive;
	text-transform: uppercase;
	font-weight: 50;
}/* Firefox 19+ */
:-moz-placeholder {
	color: #888;
	font-family: 'Neucha', cursive;
	text-transform: uppercase;
	font-weight: 50;
}/* Firefox 18- */
:-ms-input-placeholder {
	color: #888;
	font-family: 'Neucha', cursive;
	text-transform: uppercase;
	font-weight: 50;
}
input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.4s ease-in-out;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.4s ease-in-out;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.4s ease-in-out;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.4s ease-in-out;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.4s ease-in-out;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.4s ease-in-out;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.4s ease-in-out;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.4s ease-in-out;}


