<html>
<head>
    <title>${title}</title>
</head>
<body>
    <h3>${title}!</h3>
    <p>Приветствуем ${username}! Благодарим за регистрацию</p>
    <p>Для активации вашего аккаунта пройдите по <a href="$link">ссылке.</a> </p>
    <p>Спасибо!</p>
</body>
</html>