<!-- Page Content -->
<div class="container-fluid dashboard-comp margin-top-30">

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <sd-dashboard-menu [selectedPanel]="selectedPanel"></sd-dashboard-menu>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">

            <div class="container-fluid consumers-panel">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">

                                <h3>Редактирование деталей профиля: </h3>
                                <div *ngIf="updateResult != ''" class="help-block">{{updateResult}}</div>

                                <div class="form-group">
                                    <button pButton (click)="back()" label="Назад"></button>
                                </div>

                                <form novalidate [formGroup]="profile">
                                    <div class="form-group">
                                        <label for="firstName">Имя</label>
                                        <input class="form-control" type="text" name="firstName" pInputText placeholder="Имя" formControlName="firstName">
                                        <small *ngIf="!profile.controls.firstName?.valid">
                                            Обязательное поле, не менее 2 символов
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="middleName">Отчество</label>
                                        <input class="form-control" type="text" name="middleName" pInputText placeholder="Отчество" formControlName="middleName">
                                        <small *ngIf="!profile.controls.middleName?.valid">
                                            Обязательное поле, не менее 2 символов
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Фамилия</label>
                                        <input class="form-control" type="text" name="lastName" pInputText placeholder="Фамилия" formControlName="lastName">
                                        <small *ngIf="!profile.controls.lastName?.valid">
                                            Обязательное поле, не менее 2 символов
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Пол</label>
                                        <div>
                                        <p-radioButton *ngFor="let opt of genders" name="gender" [label]="opt.display" [value]="opt.value" formControlName="gender" (change)="gender = opt.value"></p-radioButton>
                                        </div>
                                        <small *ngIf="!profile.controls.gender?.valid">
                                            Обязательное поле
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input class="form-control" type="email" name="email" pInputText placeholder="E-mail" formControlName="email">
                                        <small *ngIf="!profile.controls.email?.valid">
                                            Обязательное поле в формате <i>john@doe.com</i>.
                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Телефон</label>
                                        <input class="form-control" type="text" name="phone" pInputText placeholder="Телефон" formControlName="phone">
                                        <small *ngIf="!profile.controls.phone?.valid">
                                            Поле содержащее цифры.
                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Дата рождения</label>
                                        <p-calendar formControlName="birthDate" dateFormat="dd-mm-yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2020" [locale]="ru"></p-calendar>
                                        <!--<datepicker formControlName="birthDate" [showWeeks]="false"></datepicker>-->
                                    </div>

                                    <div formGroupName="address">

                                        <h3>Адрес:</h3>

                                        <div class="form-group">
                                            <label for="phone">Страна</label>
                                            <div formGroupName="country" id="country">
                                                <input type="hidden" formControlName="id">
                                                <p-dropdown [options]="countries" formControlName="id" placeholder="Выберите страну"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Город</label>
                                            <div formGroupName="city" id="city">
                                                <input type="hidden" formControlName="id">
                                                <p-dropdown [options]="cities" formControlName="id" placeholder="Выберите город"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="zip">ZIP</label>
                                            <input class="form-control" type="text" name="zip" pInputText placeholder="Zip" formControlName="zip">
                                        </div>
                                        <div class="form-group">
                                            <label for="addressLine">Адрес</label>
                                            <input class="form-control" type="text" name="addressLine" pInputText placeholder="Адрес" formControlName="addressLine">
                                        </div>
                                    </div>
                                    <button pButton type="submit" [disabled]="profile.invalid" (click)="onSubmit(profile)" label="Сохранить"></button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->